/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
    font-size: calc(.35842vw + .95296em);
}

.dark {
    background-color: gray;
}

.darker {
    background-color: rgb(75, 75, 75);
}

.darkest {
    background-color: rgb(53, 53, 53);
}

.light {
    background-color: rgb(150, 150, 150);
}

.lighter {
    background-color: rgb(181, 181, 181);
}

.global-header {
    height: 103.42px;
}

.subnav-header {
    height: 65.047px;
}

.headline-content {
    display: grid;
    grid-template-columns: 700.656px 386.656px;
    margin: 0 108px;
}

.articles-wrapper {
    display: grid;
    grid-template-rows: max-content;
    height: 1095.910px;
    padding: 0 16px;
}

.articles-wrapper > article:first-of-type {
    display: grid;
    grid-template-rows: 291.531px auto auto;
    height: 512.719px;
    margin-top: 2.25em;
}

.author-post {
    margin-bottom: 3em;
}